<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="page-header">
        <h1 class="text-center docs-logotype">COE Test Automation Sample App</h1>
    </div>
    <p>
        <strong>Based on Vue.js and Bootstrap</strong>
    </p>
    <p class="md-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius. Pellentesque vestibulum varius rhoncus. Sed vel hendrerit ligula, at iaculis urna. Phasellus massa nisi, commodo ac porttitor nec, bibendum vel lorem. Nunc consectetur massa a diam viverra, in ornare ligula dictum. Aenean libero eros, euismod et orci eget, sodales fermentum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam molestie feugiat bibendum. Nunc non finibus enim. Donec eget fringilla dolor. <span class="md-ink-ripple">Integer nec hendrerit arcu.</span>
    </p>
    <p class="text-center" v-if="!$root.isAuthenticated">
        <router-link to="/signin" id="sign-in" class="btn btn-lg btn-default">Sign In</router-link>
        <router-link to="/signup" id="sign-up" class="btn btn-lg btn-default">Sign Up</router-link>
    </p>
	<p>Checkbox:<br>
	  <input type="checkbox" name="checkboxinput" value="1"> checkbox 1<br>
	  <input type="checkbox" name="checkboxinput2" value="2"> checkbox 2
    </p>
	<p>Radio:<br>
	  <input name="_fsradio2" type="radio" value="1"><br>
	  <input name="_fsradio2" type="radio" value="2">
    </p>
	<p>Input text:<br>
	  <input type="text" name="textinput" value="">
    </p>
	<div class="example">
	  <h3>Dropdown List</h3>
	  <select id="dropdown" name="documentation-version">
		  <option value="" disabled="disabled" selected="selected">Please select an option</option>
		  <option value="1">Option 1</option>
		  <option value="2">Option 2</option>
	  </select>
	</div>	
	<p>
	  User profile:<br>
	  <input type="text" name="userfirstname" ng-model="user.firstName" value=""><br><br>
	  <input type="text" name="usersecondname" ng-model="user.lastName" value=""><br><br>
	  <input type="text" name="company" ng-model="user.company" value=""><br><br>
	  <input type="button" value="Save">
    </p>
	<p>
	  Text with 'abc'. And below two paragraphs with this text.
    </p>
	<p>
	  Text with 'abc'.
    </p>
	<p>
	  Abc abc abc. 123 123 123 .
    </p>
	<p>
	  123 123 123 123 . xyz xyz xyz.
    </p>
	<div class="example">
	  <h3>File Downloader</h3>
		<a href="download/1.jpg">1.jpg</a>
		<br>
		<a href="download/some-file.txt">some-file.txt</a>
		<br>	  
		<a href="download/1.png">1.png</a>
		<br>	  
		<a href="download/ObjectivityTestAutomationCSHarpFramework.txt">ObjectivityTestAutomationCSHarpFramework.txt</a>
		<br>	  
		<a href="download/uploadanddownload.txt">uploadanddownload.txt</a>
		<br>
	  
	</div>	
	<div class="example">
	  <h3>Drag and Drop</h3>
	  <div id="columns">
		<div class="column" id="column-a" draggable="true"><header>A</header></div>
		<div class="column" id="column-b" draggable="true"><header>B</header></div>
	  </div>
	</div>	
	<p class="clear"><br><br>
	 <h3 class="autocompletetitle">Autocomplete:</h3>
	 <cool-select
	     v-model="selected"
        :items="items"
        placeholder="Select US State"
      />
    </p>
	<p><br>
	  Button:<br>
	  <button id="abc" name="name" class="button">Button</button><br>
	  <a href="#name">Button</a>
    </p>
	<p md-svg-src="img/icons/android.svg">
	  SelenideSelectors test:
	  <button class="buy" title="my_title" value="my_value">Basic Usage</button>
    </p>
	<p>
	  Redundant Selectors
	  <input type="text" name="abc" title="cde" value="fgh" id="ijk" class="xyz">
    </p>
	<p class="container">
	  <span>abc</span><br>
	  <span class="subarea">
	    <b>Bottom Sheet</b>
	  </span>
	  <ul>
	    <li>list item 1</li>
	    <li>list item 2</li>
	  </ul>
    </p>
	<p>
	  Not visible text next to it, will be visible in 2 sec and disappear in 4 sec: <span class="waiting">Not ready</span>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
	<p>
    </p>
</div>
