<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
	<div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('firstName') }">
			<label for="first-name">First Name</label>
			<span class="help-block" v-show="errors.has('firstName')">
				{{ errors.first('firstName') }}
			</span>
			<input type="text" id="first-name" name="firstName" v-model="firstName" class="form-control" v-validate="'required|min:2|max:128'" />
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('lastName') }">
			<label for="last-name">Last Name</label>
			<span class="help-block" v-show="errors.has('lastName')">
				{{ errors.first('lastName') }}
			</span>
			<input type="text" id="last-name" name="lastName" v-model="lastName" class="form-control" v-validate="'required|min:2|max:128'" />
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('email') }">
			<label for="email">Email</label>
			<span class="help-block" v-show="errors.has('email')">
				{{ errors.first('email') }}
			</span>
			<input type="text" id="email" name="email" v-model="email" class="form-control" v-validate="'required|email|min:5|max:256|uniqueEmail'" />
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('password') }">
			<label for="password">Password</label>
			<span class="help-block" v-show="errors.has('password')">
				{{ errors.first('password') }}
			</span>
			<input type="password" id="password" name="password" v-model="password" class="form-control" v-validate="'required|min:6|max:16'" autocomplete="off" />
		</div>

		<div class="form-group" v-bind:class="{ 'has-error': errors.has('agreement') }">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="agreement" v-model="agreement" v-validate="'required'" />
					I agree to terms of service and privacy policy
				</label>
				<span class="help-block" v-show="errors.has('agreement')">
					{{ errors.first('agreement') }}
				</span>
			</div>
		</div>
		<input type="submit" value="Sign Up" v-on:click="signUp" class="btn btn-primary" />
	</div>
</div>
