<div>
	<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
		<div class="page-header">
			<h1 class="text-center">{{ $root.title }}</h1>
		</div>
		<button v-on:click="newuser" class="btn btn-default">New</button>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Office</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in items">
						<td>{{ item.firstName }}</td>
						<td>{{ item.lastName }}</td>
						<td>{{ item.email }}</td>
						<td>{{ item.office }}</td>
						<td class="actions-column user-actions-column">
							<div class="btn-group btn-group-sm" role="group">
								<router-link :to="{ path: 'users/'+item.id }"  role="button" class="btn btn-default">View</router-link>
								<button class="btn btn-default" v-on:click="edit(item)">Edit</button>
								<button class="btn btn-default" v-on:click="remove(item)">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" v-show-modal="isEditing" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" v-on:click="cancelEditing" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ editItem.title }}</h4>
				</div>
				<div class="modal-body" style="height: 432px">
					<form novalidate v-if="editItem.data">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#general" aria-controls="home" role="tab" data-toggle="tab">
									General
									<span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"
										  v-show="errors.has('firstName') || errors.has('lastName') || errors.has('email') || errors.has('office') || errors.has('gender')"></span>
								</a>
							</li>
							<li role="presentation">
								<a href="#additional" aria-controls="home" role="tab" data-toggle="tab">
									Additional
									<span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"
										  v-show="errors.has('birthday') || errors.has('notes')"></span>
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="general">
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('firstName') }">
									<label for="first-name">First Name</label>
									<span class="help-block" v-show="errors.has('firstName')">
										{{ errors.first('firstName') }}
									</span>
									<input type="text" id="first-name" name="firstName" v-model="editItem.data.firstName" class="form-control" v-validate="'required|min:2|max:128'" />
								</div>
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('lastName') }">
									<label for="last-name">Last Name</label>
									<span class="help-block" v-show="errors.has('lastName')">
										{{ errors.first('lastName') }}
									</span>
									<input type="text" id="last-name" name="lastName" v-model="editItem.data.lastName" class="form-control" v-validate="'required|min:2|max:128'" />
								</div>
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('email') }">
									<label for="email">Email</label>
									<span class="help-block" v-show="errors.has('email')">
										{{ errors.first('email') }}
									</span>
									<input type="text" id="email" name="email" v-model="editItem.data.email" v-bind:readonly="!editItem.isNew" class="form-control" v-validate="'required|email|min:5|max:256|uniqueEmail'" />
								</div>
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('office') }">
									<label for="office">Office</label>
									<span class="help-block" v-show="errors.has('office')">
										{{ errors.first('office') }}
									</span>
									<select id="office" name="office" v-model="editItem.data.office" class="form-control" v-validate="'required'" >
										<option value="Berlin">Berlin</option>
										<option value="London">London</option>
										<option value="New York">New York</option>
										<option value="Paris">Paris</option>
										<option value="Rome">Rome</option>
										<option value="Tokio">Tokio</option>
										<option value="Washington">Washington</option>
									</select>
								</div>
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('gender') }">
									<label>Gender</label>
									<span class="help-block" v-show="errors.has('gender')">
										{{ errors.first('gender') }}
									</span>
									<input type="hidden" name="gender" v-model="editItem.data.gender" v-validate="'required'">
									<br>
									<label class="label-option">
										<input type="radio" value="Male" v-model="editItem.data.gender">
										Male
									</label>
									<label class="label-option">
										<input type="radio" value="Female" v-model="editItem.data.gender">
										Female
									</label>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="additional">
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('birthday') }">
									<label for="birthday">Birthday</label>
									<span class="help-block" v-show="errors.has('birthday')">
										{{ errors.first('birthday') }}
									</span>
									<div class="input-group date" v-date-picker="true">
										<input type="text" id="birthday"  name="birthday" v-model="editItem.data.birthday" class="form-control" />
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									</div>
								</div>
								<div class="form-group" v-bind:class="{ 'has-error': errors.has('notes') }">
									<label for="notes">Notes</label>
									<span class="help-block" v-show="errors.has('notes')">
										{{ errors.first('notes') }}
									</span>
									<textarea id="notes" name="notes" v-model="editItem.data.notes" class="form-control" v-validate="'max:2000'"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-show="editItem.isNew" v-on:click="create">Create</button>
					<button type="button" class="btn btn-primary" v-show="!editItem.isNew" v-on:click="update">Save</button>
					<button type="button" class="btn btn-default" v-on:click="cancelEditing">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>